@{
    ViewData["Title"] = "Home";
}

<div class="bg-primary text-white text-center p-5 rounded">
    <h1>Welcome to Elite Tech Store 🛍</h1>
    <p>Your One-Stop Shop for Electronics</p>

    <a asp-controller="Products"
       asp-action="Index"
       class="btn btn-warning">
        Shop Now
    </a>
</div>